version: "3.9"

services:
  mysql:
    image: mysql:8.4
    container_name: fruit-mysql
    environment:
      MYSQL_DATABASE: fruit_db
      MYSQL_USER: fruit_user
      MYSQL_PASSWORD: fruit_pass
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: fruit-api
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      DB_HOST: mysql
      DB_PORT: 3306
      DB_NAME: fruit_db
      DB_USER: fruit_user
      DB_PASSWORD: fruit_pass

volumes:
  mysql_data: